@import "modules/base";
@import "animate.scss";

*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #231f20;

}
/*GENERALE*/
html{
  font-size: 62.5%;
  width: 100%;
  background-color: #be1e2d;
}
body{
  width: 90%;
  margin: auto;
  background-color: #fafafa;
  box-shadow: 1px 1px 12px #555;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
h3{
  font-size: 4em;
}
.lien-cliquable{
  color: #231f20;
  text-decoration: none;
}

/*HEADER*/
#computer-header{
  display: none;
}
header{
  padding: 5%;
  box-shadow: 0 8px 8px -10px #000000;
}
#mobile-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  text-align: center;
  width: 30%;
  font-size: 2em;
}
.logo img{
  width: 50%;
}

.logo a{
  font-weight: bold;
  text-decoration: none;
  color: #231f20;
}

/*MAIN HOME*/
main{
  padding: 5%;
}
main h1{
  text-align: center;
  font-size: 5em;
}
.bg-0{
  background: url('../img/img-centre-mobile.jpg') no-repeat center;
}
.bg-1{
  background: url('../img/portfolio-mobile.jpg') no-repeat center;
}
.bg-2{
  background: url('../img/cv-mobile.jpg') no-repeat center;
}
.bg-3{
  background: url('../img/contact-mobile.jpg') no-repeat center;
}
#presentation{
  position: relative;
  width: 100%;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
#nav-page, .nav-page-portfolio, .nav-page-cv{
  margin: auto;
  width: 80%;
}
.nav-option, .nav-option-portfolio{
  position: relative;
  width: 100%;
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
.blur {
  background-size: cover;
  overflow: hidden;
  filter: blur(2px);
  position: absolute;
  height: 400px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}
.contenu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5%;
}
.contenu h1{
  font-size: 5em;
}
.contenu p{
  font-size: 3em;
}
/*MAIN PORTFOLIO*/
.filtre-bleu {
  overflow: hidden;
  position: absolute;
  height: 300px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}
.contenu i{
  font-size: 3em;
}
/*MAIN CV*/
.cv-categorie{
  margin-bottom: 50px;
}
.cv-categorie a, .cv-categorie .fa-book{
  color: #be1e2d;
  text-decoration: none;
}
.cv-categorie p, .cv-categorie ul li{
  font-size: 2.5em;

}
/*MAIN CONTACT*/
.formulaire{
  text-align: center;
  font-size: 2.5em;
}
.formulaire form{
  margin-top: 50px;
}
.formulaire label{
  display: inline-block;
  width: 300px;
  text-align: left;
  vertical-align: top;
}
.formulaire form div{
  margin-bottom: 20px;
}
.formulaire button{
  width: 30%;
  height: 50px;
}
/*FOOTER*/
footer{
  text-align: right;
  padding: 5%;
}
footer p{
  font-size: 2em;
}
footer p a{
  color: #231f20;
  text-decoration: none;
}
#reseaux{
  display: flex;
  justify-content: flex-end;
}
#reseaux a{
  color: #231f20;
  text-decoration: none;
  margin-left: 40px;
}
#reseaux a i{
  font-size: 5em;
}
/*ADMIN MENU*/
#computer-header-admin {
  display: block;
}
#computer-header-admin nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#computer-header-admin nav .underline{
  font-size: 3em;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  width:20%;
  text-align: center;
}
#computer-header-admin nav .underline:hover{
}
#computer-header-admin nav .underline:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: 0;
  background-color: #be1e2d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#computer-header-admin nav .underline:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*ADMIN CONNEXION*/
.msg-erreur-connexion{
  color: #be1e2d !important;
  font-size: 0.6em !important;
}

/*ADMIN PORTFOLIO*/
.bloc-admin{
   border: #be1e2d solid 2px;
  margin-top: 30px;
  padding: 2%;
}
.bloc-admin h4{
  margin: 50px 0 10px 0;
  font-size: 2rem;
}
#nav-page-portfolio form p label{
  font-size: 1.5rem;
  display: inline-block;
  width: 90px;
}
#nav-page-portfolio form p input {
  width: 30%;
  height: 25px;
  margin-bottom: 15px ;
}
#nav-page-portfolio form p button{
  width: 30%;
  height: 25px;
  margin-left: 93px;
}
table{
  border-collapse: collapse;
  width: 100%;
}
td{
  border: 1px solid black;
  padding: 5px;
}
#nav-page-portfolio table tr td input{
  width: 100%;
  height: 25px;
}
table tr td h4{
  font-size: 1.5rem;
}
#nav-page-portfolio table tr td a{
  display: inline-block;
}
#nav-page-portfolio table tr td a i{
  display: block;
  font-size: 3rem;
}
.fa-pen-square{
  color: green;
}
.fa-window-close{
  color: #be1e2d;
}
/*ADMIN MESSAGE*/
.message h4{
  margin: 10px 0;
  font-size: 2rem;
}
.message h5{
  margin: 10px 0;
  font-size: 1.5rem;
}
.message p{
  margin: 10px 0;
  font-size: 1.5rem;
}
.message a{
  display: flex;
  justify-content: flex-end;
}
.message i{
  font-size: 3rem;

}
/*VERSION ORDINATEUR*/
@media only screen and (min-width : 1224px){
  #mobile-header{
    display: none;
  }
  #computer-header {
    display: block;
  }
  #computer-header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  #computer-header nav .underline{
    font-size: 3em;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    width:20%;
    text-align: center;
  }
  #computer-header nav .underline:hover{
  }
  #computer-header nav .underline:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    background-color: #be1e2d;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  #computer-header nav .underline:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
//  Corps home
  body {
    width: 80%;
  }
  #nav-page {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  .nav-option {
    position: relative;
    //width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 30px;
  }
  //Corps portfolio
  //.nav-page-portfolio{
  //  display: flex;
  //  justify-content: space-between;
  //
  //}
  //.nav-option-portfolio{
  //  width: 10%;
  //}
}